options {
  directory "/var/named";
  listen-on port 53 { {{ bind_listen_ip }}; };
  allow-query { any; };
};

zone "{{ forward_zone_name }}" IN {
  type master;
  file "forward.fedora.local";
  allow-update { none; };
};

zone "{{ reverse_zone_name }}" IN {
  type master;
  file "reverse.fedora.local";
  allow-update { none; };
};
